---

import "leaflet/dist/leaflet.css";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1 class="text-2xl mb-4">Carte des établissements</h1>
  <div id="map" style="height: 600px; width: 100%;"></div>
</Layout>

<script>
import listeEtablissements from "../assets/listeEtablissements.json";
import L from "leaflet";


delete (L.Icon.Default.prototype as any)._getIconUrl;
L.Icon.Default.mergeOptions({
  iconRetinaUrl: 'https://unpkg.com/leaflet@1.9.4/dist/images/marker-icon-2x.png',
  iconUrl: 'https://unpkg.com/leaflet@1.9.4/dist/images/marker-icon.png',
  shadowUrl: 'https://unpkg.com/leaflet@1.9.4/dist/images/marker-shadow.png',
});


const map = L.map("map").setView([46.6033, 1.883], 6);

L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
  attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
  maxZoom: 19,
}).addTo(map);


listeEtablissements.forEach((etablissement: any) => {
  if (etablissement.latitude && etablissement.longitude) {
    const marker = L.marker([etablissement.latitude, etablissement.longitude])
      .addTo(map);
    

    const popupContent = `
      <div>
        <h3 style="margin: 0 0 8px 0; font-weight: bold;">${etablissement.nom}</h3>
        <p style="margin: 4px 0;"><strong>Ville:</strong> ${etablissement.ville || 'N/A'}</p>
        <p style="margin: 4px 0;"><strong>Type:</strong> ${etablissement.type || 'N/A'}</p>
        ${etablissement.adresse ? `<p style="margin: 4px 0;"><strong>Adresse:</strong> ${etablissement.adresse}</p>` : ''}
      </div>
    `;
    
    marker.bindPopup(popupContent);
  }
});
</script>